$primary:#9c0746;
$secondary:#fde5ea;
$acent:#130f11;
$high:#E10E5B;
button 
{
    margin: 20px 0;
    outline: none;
    border: none;
    background:$high;
    padding: 15px 50px;
    border-radius: 50px;
    color: white;
}
main#products
{
    width: 100%;
    background: white;
    background-image: url('../img/leaf.png');
    background-size: 30%;
    background-repeat: no-repeat ;
    background-position: center left;
    text-align: center;
    .products
    {
        width: 100%;
        padding: 20px 20px;
        .card
        {
            img 
            {
                width: 60%;
            }
            h3,p 
            {
                padding: 10px 0;
            }
        }
    }
}
main#pricing
{
    width: 100%;
    .pricing
    {
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        background: $secondary;
        h4,h3,p
        {
            padding: 20px 0;
        }
        .group
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            a 
            {
                display: inline-block;
                width: 50%;
                padding: 5px 0;
                span 
                {
                    color: $high;
                    padding-left: 20px;
                    padding-right: 5px;
                }
            }
        }
        .pcz-el
        {
            padding: 20px 0;
            img 
            {
                width: 70%;
            }
            h4,h3,p
            {
                padding: 5px 0;
            }
            .ToBig
            {
                font-size: 200%;
            }
        }
    }
}
main#about
{
    width: 100%;
    .about
    {
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        h2,h3,p
        {
            padding: 20px 0;
        }
        img 
        {
            width: 100%;
        }
        form 
        {
            padding: 20px 0;
            input,textarea
            {
                font-family: inherit;
                padding: 15px 20px;
                width: 100%;
                box-sizing: border-box;
                margin: 10px 0;
                border: 1px solid $high;
                border-radius: 50px;
                color: $acent;
                outline: 0;
            }
            input:focus
            {
                box-shadow: inset 1px 1px 1px $high,inset -1px -1px 1px $high;
            }
            input::placeholder,textarea::placeholder 
            {
                font-family: inherit;
                color: $acent;
            }
            button 
            {
                width: 100%;
            }
        }
    }
}
footer 
{
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    background: $secondary;
    h3
    {
        padding: 10px 0;
        i.fa 
        {
            font-size: 100%;
            padding: 0;
            color: inherit;
        }
    }
    p
    {
        padding: 5px 0;
    }hr
    {
        margin: 5px 0;
        border-color: $primary;
        opacity: 0.75;
    }
    i.fa 
    {
        font-size: 25px;
        padding: 10px;
        color: $high;
    }
}