$primary: #f82888;
$secondary: #32ffff;
$font-1: white;
$font-2:black;
$font-1a: rgba(255, 255, 255, 0.75);
$font-2a:rgba(0, 0, 0, 0.75);
$font-1b: rgba(255, 255, 255, 0.5);
$font-2b:rgba(0, 0, 0, 0.5);
$font-1c: rgba(255, 255, 255, 0.25);
$font-2c:rgba(0, 0, 0, 0.25);
$font-1d: rgba(255, 255, 255, 0.15);
$font-2d:rgba(0, 0, 0, 0.15);
body 
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
* 
{
    box-sizing: border-box;
}
h1 
{
    margin: 10px 0;
    font-size: 150%;
    text-align: center;
    color: $font-2a;
    letter-spacing: 1px;
}
p 
{
    margin: 10px 0;
    font-size: 100%;
    color: $font-2a;
}
button 
{
    outline: 0;
    border: 0;
    background: transparent;
    padding: 10px 20px;
}
.screen 
{
    width:100%;
    .cover
    {
        width: 100%;
        position: relative;
        min-height: 100vh;
        .image
        {
            width: 100%;
            img 
            {
                width: 100%;
            }
        }
        .content
        {
            position: absolute;
            background: transparent;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 50px 50px 0 0;
            box-shadow: -2px -2px 50px $font-2;
            background: $font-1;
            .nav-status
            {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 20px 0 20px;
                .dot
                {
                    width: 14px;
                    height: 14px;
                    background: transparent;
                    border-radius: 50px;
                    margin: 0 10px;
                    border: 0.7px solid $secondary;
                }
                .dot1
                {
                    background: $secondary;
                }
            }
            .text
            {
                width: 100%;
                padding: 10px 20px;
                p 
                {
                    text-align: justify;
                }
            }
            .button-group
            {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 20px 20px 20px;
                .link 
                {
                    background: $primary;
                    border-radius: 30px;
                    padding: 10px 30px;
                    color: $font-1;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
.home
{
    width: 100%;
    background: #32ffff37;
    padding-bottom: 10px;
    .home-body
    {
        width:100%;
        .header
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            i 
            {
                font-size: 150%;
            }
            .name
            {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                h1 
                {
                    margin: 0;
                }
                i 
                {
                    padding-right: 10px;
                }
            }
            .links
            {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                i 
                {
                    padding-left:10px;
                }
            }
            .search
            {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 1.5px 10px;
                border: 1px solid $font-2d;
                margin: 10px 0;
                border-radius: 5px;
                background: white;
                input 
                {
                    width: 70%;
                    flex-grow: 1;
                    border: 0;
                    outline: 0;
                    font-family: inherit;
                    padding: 5px 0;
                    background: transparent;
                } 
                i 
                {
                    opacity: 0.75;
                }
            }
        }
        .body 
        {
            width: 100%;
            padding: 0 20px;
            .img-el
            {
                width: 100%;
                margin-bottom: 20px;
                border-radius: 5px;
                overflow: hidden;
                border: 1px solid $font-2d;
                img 
                {
                    width: 100%;
                }
                .author
                {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    background: white;
                    height: 40px;
                    padding: 0 20px;
                    margin-top: -5px;
                    border-bottom: 1px solid $font-2d;
                    border-top: 1px solid $font-2d;
                    .image
                    {
                        display: inline;
                        i 
                        {
                            font-size: 150%;
                            padding-right: 10px;
                        }
                    }
                    .des
                    {
                        width: 50%;
                        flex-grow: 1;
                        h2,p 
                        {
                            margin: 0;
                        }
                    }
                }
                .link-group
                {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    height: 40px;
                    padding: 0 20px;
                    background: white;
                    i 
                    {
                        font-size: 150%;
                        margin: 0 10px;
                        color: $primary;
                    }
                }
            }
        }
    }
}