main 
{
    section.slider
    {
        width: 100%;
        .slide-el 
        {
            width: 100%;
            .content
            {
                width: 100%;
                padding: 20px 0;
                h2,p 
                {
                    padding: 10px 0;
                }
                button 
                {
                    margin: 20px 0;
                    background: #EB2A67;
                    color: white;
                    border: 0;
                    border-radius: 5px;
                    padding: 15px 40px;
                    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
                }
            }
            .image 
            {
                width: 100%;
            }
        }
    }
}