* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
}

body {
  --primary:#fff;
  --secondary:#000;
  --acent:#037E85;
  --light-primary:rgba(0, 0, 0, 0.15);
  color: var(--secondary);
}

.light-theme {
  --primary:#fff;
  --secondary:#000;
  --acent:#037E85;
  --light-primary:rgba(0, 0, 0, 0.15);
  color: var(--secondary);
}

.dark-theme {
  --primary:#000;
  --secondary:#fff;
  --acent:#f90;
  --light-primary:rgba(255, 255, 255, 0.15);
  color: var(--secondary);
}

img {
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#screen1 {
  background: var(--primary);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#screen1 .preloader {
  width: 50%;
  margin: 0 auto;
}

#screen1 .preloader img {
  width: 100%;
}

#screen2 {
  background: var(--primary);
}

#screen2 .signUp {
  width: 100%;
  padding: 0 10%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#screen2 .signUp i {
  font-size: 500%;
}

#screen2 .signUp .inputGroup {
  background: var(--primary);
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--acent);
  margin: 10px 0;
}

#screen2 .signUp .inputGroup label {
  width: 100%;
  opacity: .75;
  margin: 0;
}

#screen2 .signUp .inputGroup label i {
  font-size: 100%;
  padding: 0;
  padding-right: 10px;
}

#screen2 .signUp .inputGroup select {
  width: 20%;
  outline: 0;
  border: 0;
  background: transparent;
}

#screen2 .signUp .inputGroup input {
  outline: 0;
  border: 0;
  background: transparent;
  width: 80%;
  font-family: inherit;
  padding: 5px 10px;
}

#screen2 .signUp .input {
  background: var(--primary);
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

#screen2 .signUp .input label {
  width: 100%;
  opacity: .75;
  margin: 0;
}

#screen2 .signUp .input label i {
  font-size: 100%;
  padding: 0;
  padding-right: 10px;
}

#screen2 .signUp .input input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--acent);
  background: transparent;
  width: 100%;
  font-family: inherit;
  padding: 5px 10px;
}

#screen2 .signUp button {
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--acent);
  width: 100%;
  margin-top: 10%;
  padding: 10px 0;
  border-radius: 10px;
}

#screen3 {
  position: relative;
  background: var(--primary);
}

#screen3 header, #screen3 section, #screen3 footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#screen3 header {
  padding: 20px;
  position: fixed;
  background: var(--primary);
  top: 0;
  left: 0;
  z-index: 2;
}

#screen3 header .logo {
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#screen3 header .logo i {
  padding: 0 5px;
  color: var(--secondary);
  font-size: 100%;
}

#screen3 header .logo h1 {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

#screen3 header .links {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#screen3 header .links i {
  padding: 0 10px;
  font-size: 100%;
}

#screen3 header .hidden-list {
  display: inline;
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
  background: var(--primary);
}

#screen3 header .hidden-list a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px 20px;
  border-bottom: 1px solid var(--light-primary);
  opacity: 0.75;
}

#screen3 header .hidden-list a i {
  min-width: 20px;
}

#screen3 section#settings {
  padding: 0;
}

#screen3 section#settings .profile-body {
  width: 100%;
  padding: 20px;
}

#screen3 section#settings .profile-body .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#screen3 section#settings .profile-body .image img {
  width: 50%;
  border-radius: 10px;
}

#screen3 section#settings .profile-body .image i {
  font-size: 30vw;
  padding: 10vw;
  opacity: 0.75;
  background: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
}

#screen3 section#settings .profile-body .content {
  width: 100%;
  padding: 10px 0;
}

#screen3 section#settings .profile-body .content .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  opacity: 0.75;
}

#screen3 section#settings .profile-body .content .row .col-4 {
  width: 40%;
}

#screen3 section#settings .profile-body .content .row .col-4 p {
  font-weight: bold;
}

#screen3 section#settings .profile-body .content .row .col-6 {
  width: 60%;
  overflow: hidden;
}

#screen3 section#settings .profile-body .content .row .col-6 p {
  font-weight: normal;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#screen3 section#settings .profile-body .content .row .col-6 select {
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  color: var(--acent);
  border: 1px solid var(--acent);
  padding: 5px 10px;
  opacity: 0.75;
  font-family: inherit;
}

#screen3 section#home {
  padding: 60px 20px;
}

#screen3 section#home h1, #screen3 section#home h3, #screen3 section#home p {
  opacity: .75;
}

#screen3 section#home .tagline {
  width: 100%;
  padding: 10px 0;
}

#screen3 section#home .tagline img {
  border-radius: 10px;
}

#screen3 section#home .tagline h1 {
  text-align: center;
  letter-spacing: 1.5px;
  margin: 10px 0;
  font-size: 125%;
}

#screen3 section#home .tagline p {
  text-align: justify;
}

#screen3 section#home .best-places, #screen3 section#home .bus-timing, #screen3 section#home .train-timing, #screen3 section#home .movie-theaters, #screen3 section#home .blood-group, #screen3 section#home .info {
  width: 100%;
  padding: 10px 0;
}

#screen3 section#home .best-places h1, #screen3 section#home .bus-timing h1, #screen3 section#home .train-timing h1, #screen3 section#home .movie-theaters h1, #screen3 section#home .blood-group h1, #screen3 section#home .info h1 {
  width: 100%;
  letter-spacing: 1.5px;
  margin: 0;
  font-size: 125%;
}

#screen3 section#home .best-places .group, #screen3 section#home .bus-timing .group, #screen3 section#home .train-timing .group, #screen3 section#home .movie-theaters .group, #screen3 section#home .blood-group .group, #screen3 section#home .info .group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

#screen3 section#home .best-places .group .card, #screen3 section#home .bus-timing .group .card, #screen3 section#home .train-timing .group .card, #screen3 section#home .movie-theaters .group .card, #screen3 section#home .blood-group .group .card, #screen3 section#home .info .group .card {
  min-width: 60%;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid var(--acent);
  border-radius: 10px;
  overflow: hidden;
}

#screen3 section#home .best-places .group .card img, #screen3 section#home .bus-timing .group .card img, #screen3 section#home .train-timing .group .card img, #screen3 section#home .movie-theaters .group .card img, #screen3 section#home .blood-group .group .card img, #screen3 section#home .info .group .card img {
  width: 100%;
}

#screen3 section#home .best-places .group .card h3, #screen3 section#home .bus-timing .group .card h3, #screen3 section#home .train-timing .group .card h3, #screen3 section#home .movie-theaters .group .card h3, #screen3 section#home .blood-group .group .card h3, #screen3 section#home .info .group .card h3 {
  padding: 5px 0;
  text-align: center;
}

#screen3 section#home .best-places .group .card p, #screen3 section#home .bus-timing .group .card p, #screen3 section#home .train-timing .group .card p, #screen3 section#home .movie-theaters .group .card p, #screen3 section#home .blood-group .group .card p, #screen3 section#home .info .group .card p {
  padding: 0 10px;
  padding-bottom: 10px;
}

#screen3 section#home .best-places ::-webkit-scrollbar, #screen3 section#home .bus-timing ::-webkit-scrollbar, #screen3 section#home .train-timing ::-webkit-scrollbar, #screen3 section#home .movie-theaters ::-webkit-scrollbar, #screen3 section#home .blood-group ::-webkit-scrollbar, #screen3 section#home .info ::-webkit-scrollbar {
  display: none;
}

#screen3 section#news {
  padding: 60px 20px;
}

#screen3 section#news .card {
  width: 100%;
  padding: 10px 0;
}

#screen3 section#news .card .image-el {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#screen3 section#news .card .content {
  width: 100%;
  padding: 10px;
}

#screen3 section#news .card .content h1 {
  text-align: center;
  opacity: 0.75;
  padding: 5px 0;
}

#screen3 section#news .card .content p {
  padding: 5px 0;
  text-align: justify;
  opacity: 0.75;
}

#screen3 section#news .card .content p a {
  padding: 0 10px;
  color: var(--acent);
  text-decoration: underline;
}

#screen3 section#news .card .content p span.more {
  display: none;
}

#screen3 section#contact .inputGroup {
  background: var(--primary);
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--acent);
  margin: 10px 0;
}

#screen3 section#contact .inputGroup label {
  width: 100%;
  opacity: .75;
  margin: 0;
}

#screen3 section#contact .inputGroup label i {
  font-size: 100%;
  padding: 0;
  padding-right: 10px;
}

#screen3 section#contact .inputGroup select {
  width: 20%;
  outline: 0;
  border: 0;
  background: transparent;
}

#screen3 section#contact .inputGroup input {
  outline: 0;
  border: 0;
  background: transparent;
  width: 80%;
  font-family: inherit;
  padding: 5px 10px;
}

#screen3 section#contact .input {
  background: var(--primary);
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

#screen3 section#contact .input label {
  width: 100%;
  opacity: .75;
  margin: 0;
}

#screen3 section#contact .input label i {
  font-size: 100%;
  padding: 0;
  padding-right: 10px;
}

#screen3 section#contact .input input, #screen3 section#contact .input textarea {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--acent);
  background: transparent;
  width: 100%;
  font-family: inherit;
  padding: 5px 10px;
}

#screen3 section#contact button {
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--acent);
  width: 100%;
  margin-top: 10%;
  padding: 10px 0;
  border-radius: 10px;
}

#screen3 footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--primary);
  max-height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#screen3 footer .li-el {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.85;
  padding: 10px 0;
  color: var(--secondary);
}

#screen3 footer .li-el i {
  font-size: 100%;
  color: inherit;
}

#screen3 footer .li-el p {
  width: 100%;
  text-align: center;
}

#screen3 footer .selected {
  opacity: 1;
  color: var(--acent);
}

#screen3 footer .selected i {
  color: var(--acent);
}
/*# sourceMappingURL=main.css.map */