*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 
{
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
}
body 
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    --pink: #FE9693;
    --green: #2ADCC4;
    --violet: #802ADD;
    --black:#000;
    --white:#fff;
}
button,a,label,input,::placeholder
{
    font-family: inherit;
}
a 
{
    text-decoration: none;
    color: inherit;
}
a,button 
{
    display: inline-block;
}
section 
{
    width: 100%;
    padding: 20px;
}
ul 
{
    list-style: none;
}
button 
{
    background: transparent;
    padding: 10px 30px;
    border: 1px solid var(--black);
    font-size: 100%;
}
p 
{
    opacity: .6;
}
img 
{
    width: 100%;
}